@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;

    /*font: 16px normal 'Roboto', sans-serif;*/

    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
 .avatar{
    width: 250px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
 .info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;*/
 }

.container{
    max-width: 750px;
    margin: auto;
    
}

 .social{
    background: red;
 }